{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %} {% endblock %} Adil ÖZTAŞER | oztaser.com </title>
    <meta name="description" content="{% block description %}{% spaceless %} Python ve Django ağırlık olmak üzere genel yazılım paylaşıları yaptığım blog adresi.{% endspaceless %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% spaceless %} django framework,django,python,yazılım {% endspaceless %}{% endblock %}">
    <meta name="author" content="Adil ÖZTAŞER">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css"%}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic" />
</head>
<body class="home-template">
    <div id="wrapper">
        <header class="site-header">
            <div class="container">
                <div class="site-title-wrapper">
                        <h1 class="site-title"><a href="/">adil<i>öztaşer</i></a></h1>
                </div>
                <ul class="site-nav">
                    <li class="site-nav-item">:</li>
                    <li class="site-nav-item"><a href="/">blog</a></li>
                    {% if page_list %}
                      {% for item in page_list %}
                          <li class="site-nav-item"><a href="/page/{{ item.slug }}/">{{ item.title }}</a></li>
                      {% endfor %}
                    {% endif %}
                    <li class="site-nav-item">:</li>
                </ul>
            </div>
        </header>
        {% block content%}
        {% endblock%}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="site-title-wrapper">
                <h1 class="site-title"><a href="http://oztaser.com">oblog</a></h1>
            </div>
            <p class="footer-copyright">&copy; 2015 / Published with Django / <a href="https://github.com/roryg/ghostwriter">Ghostwriter theme</a> By <a href="http://jollygoodthemes.com">JollyGoodThemes</a></p>
        </div>
    </footer>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
</body>
</html>
