{% extends "base.html" %}
{% block content %}
      <div id="post-index" class="container">
           <ol class="post-list">
             {% if post_list %}
               {% for post in post_list %}
                     <li class="post-stub post tag-introductions featured" >
                         <a href="/{{ post.slug }}/">
                             <h4 class="post-stub-title">{{ post.title }}</h4>
                             <time class="post-stub-date" datetime="{{ post.mod_date }}">{{ post.pub_date }}</time>
                             <span class="post-stub-tag">{{ post.category }}</span>
                         </a>
                     </li>
                {% endfor %}
              {% endif %}
           </ol>
      </div>
{% endblock %}
