{% extends "base.html" %}

{% block title %}{{ page.title }} - {% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block content %}<article id="post-index" class="container">
          <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
          </header>
            <div class="post-content clearfix">
                {{ page.content|safe }}
            </div>
    </article>{% endblock %}
