{% extends "base.html" %}

{% block title %}{{ post.title }} - {% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block keywords %}{% for key in keywords %}{{ key.keyword}},{% endfor %}{% endblock %}
{% block content %}<article id="post-index" class="container">
          <header class="post-header">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-date"><time datetime="{{ post.mod_date }}">{{ post.pub_date }}</time></p>
          </header>
            <div class="post-content clearfix">
                {{ post.content|safe }}
            </div>
          <footer class="post-footer clearfix">
            <p class="post-tags"><span>Tagged: </span>{% for key in keywords %}<a href="/tag/{{ key.slug }}/">{{ key.keyword}} </a>{% empty %}No tags!{% endfor %}
            <span>Posted on:</span> <a href="/category/{{ category.slug }}/">{{ category.title }}</a>
            </p>
          </footer>
    </article>{% endblock %}
