{% extends "base.html" %}

{% block title %}{{ keyword.keyword }} - {% endblock %}

{% block content %}
      <div id="post-index" class="container">
        <h1 class="post-title">{{ keyword.keyword}}</h1>
           <ol class="post-list">
             {% for post in post_list %}
                   <li class="post-stub post tag-introductions featured" >
                       <a href="/{{ post.slug }}/">
                           <h4 class="post-stub-title">{{ post.title }}</h4>
                           <time class="post-stub-date" datetime="{{ post.mod_date }}">{{ post.pub_date }}</time>
                           <span class="post-stub-tag">{{ post.category }}</span>
                       </a>
                   </li>
              {% endfor %}
           </ol>
      </div>
{% endblock %}
